## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv(r'C:\Users\maryc\Documents\Class\World_Weather_Analysis\Vacation_Search\WeatherPy_vacation.csv')
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Cabo San Lucas,MX,81.70,overcast clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
1,4,Jamestown,US,84.51,overcast clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
2,6,Arraial Do Cabo,BR,82.36,clear sky,-22.9661,-42.0278,Pousada Porto Praia
3,12,Bathsheba,BB,88.41,scattered clouds,13.2167,-59.5167,Atlantis Hotel
4,13,Les Cayes,HT,84.94,broken clouds,18.2000,-73.7500,Villa Orphee

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)
# 4b. Display the figure
fig=gmaps.figure()
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
#request user input for cities
vacation_start_city=input("Which city will you start from?")
vacation_stop1_city=input("Which city will be your first stop?")
vacation_stop2_city=input("Which city will be your second stop?")
vacation_stop3_city=input("Which city will be your third stop?")
vacation_end_city= vacation_start_city

Which city will you start from?Lazaro Cardenas
Which city will be your first stop?Tecoanapa
Which city will be your second stop?Puerto Escondido
Which city will be your third stop?Champerico

In [29]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]== vacation_start_city]
vacation_end = vacation_df.loc[vacation_df["City"]== vacation_end_city]
vacation_stop1 = vacation_df.loc[vacation_df["City"]== vacation_stop1_city]
vacation_stop2 = vacation_df.loc[vacation_df["City"]== vacation_stop2_city] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]==vacation_stop3_city] 

vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
94,483,Lazaro Cardenas,MX,89.1,overcast clouds,17.9583,-102.2,HOTEL QUINTA ANTIGUA

In [34]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]

print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

(17.9583, -102.2)
(17.9583, -102.2)
(16.5167, -98.75)
(15.85, -97.0667)
(14.3, -91.9167)

In [35]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
South_America_Route=gmaps.directions_layer(start,end,waypoints=[stop1,stop2,stop3],travel_mode="DRIVING")
fig.add_layer(South_America_Route)
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,483,Lazaro Cardenas,MX,89.10,overcast clouds,17.9583,-102.2000,HOTEL QUINTA ANTIGUA
1,52,Tecoanapa,MX,86.85,overcast clouds,16.5167,-98.7500,Hotel Manglares
2,533,Puerto Escondido,MX,84.58,overcast clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
3,632,Champerico,GT,88.34,scattered clouds,14.3000,-91.9167,"Hotel y restaurante ""El Diamante"""
4,483,Lazaro Cardenas,MX,89.10,overcast clouds,17.9583,-102.2000,HOTEL QUINTA ANTIGUA

In [42]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
itinerary_locations = itinerary_df[["Lat", "Lng"]]

In [44]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer=gmaps.marker_layer(itinerary_locations,info_box_content=itinerary_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))